@{
    Layout = "_Layout";
}

@using BandTracker.Models;
@* @var venueId = Model["venue"].GetId() doesn't work*@
<h1>VENUE: @Model["venue"].GetName()</h2>
<hr />
@if (@Model["venueBands"].Count != 0)
{
  <h4>Bands that have played here:</h4>
  <ul>
    @foreach (var band in @Model["venueBands"])
    {
      <li>@band.GetName()</li>
    }
  </ul>
}
<h4>ADD A BAND TO THIS VENUE:</h4>
<form action='/venues/@Model["venue"].GetId()/bands/new' method='post'>
  <label for='band-id'>Select a band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetName()</option>
    }
  </select>
  <button type='submit'>ADD</button>
</form>

<form action'/venues/@Model["venue"].GetId()/delete' class="pull-right" method='post'>
    <button type="submit">REMOVE THIS VENUE</button>
</form>
<p><a href="/venues">VIEW ALL VENUES</a></p>
<p><a href="/">HOME</a></p>
